#main-container {
  padding-top: 60px;
}
.modal.in {
   display:block;
}
a:not(nav > a) {
  color: #333!important;
}
.alert{
    display: inline-block;
    position: absolute;
    top: 70px;
    left: calc(100% - 350px);
    width: 300px;
    text-align: center;
}
