{{ form_start(form) }}
    {{ include('Forms/recipe.html.twig') }}

    <div class="form-group">
        <a href="{{ path('recipe_list') }}" class="btn btn-md btn-info col-md-offset-2 col-md-2">
            <i class="glyphicon glyphicon-arrow-left"></i> Back to the list
        </a>
        <input type="submit" value="Create" class="btn btn-success btn-md col-md-offset-1 col-md-2" />
        <input type="Reset" value="Reset" class="btn btn-warning btn-md col-md-offset-1 col-md-2" />
    </div>
{{ form_end(form) }}
