{% extends "layout.html.twig" %}


{%- form_theme form 'bootstrap_3_horizontal_layout.html.twig' -%}

{% block content %}
    <h1>{{ title }}</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="row">
            <input type="submit" value="Post" class="btn btn-md btn-success col-md-2 col-md-offset-5" />
        </div>
    {{ form_end(form) }}

{% endblock %}
