<div class="form-group">
    <div class="col-md-2">
        {{ form_widget(form.quantity, {"attr": {"class": "col-md-2"}}) }}
    </div>
    <div class="col-md-2">
        {{ form_widget(form.quantityUnit, {"attr": {"class": "col-md-2"}}) }}
    </div>
    <div class="col-md-8">
        {{ form_widget(form.name, {"attr": {"class": "col-md-8"}}) }}
    </div>
    {{ form_errors(form) }}
</div>
