<div class="form-group">
    <div class="col-md-12 form-group">
        {{ form_widget(form.text) }}
    </div>
    <div class="col-md-12 form-group">
        {{ form_widget(form.image) }}
    </div>
    {{ form_errors(form) }}
</div>
